

@media screen and (max-width:1479px) {
    section.roadmap .btcCoinGolden {
        right: 50px;
    }
}

@media screen and (max-width:1199px) {
    section.development .development_bot .development_bot_item {
        position: relative;
        z-index: 2;
        margin-top: 15px;
    }

    section.development .development_bot .btcCoin {
        z-index: 1;
    }

    .news_main_item_img {
        img {
            width: 100%;
        }
    }

    section.development .development_top {
        margin-top: 15px;
    }

    section.roadmap .roadmap_main {
        min-width: 1110px;
        flex-wrap: wrap;
    }

    .roadmap_wrapper {
        overflow-x: scroll;
    }
    
    section.roadmap .roadmap_main {
        flex-wrap: wrap;
    }

    
}

@media screen and (max-width:991px) {
    section.face .wellcome .wellcome_top {
        flex-wrap: wrap;
        flex-direction: column;
    }

    section.about .about_main {
        flex-wrap: wrap;
    }

    section.about .about_main .about_main_item {
        width: 100%;
        margin-top: 15px;
    }

    section.info .info_main {
        flex-wrap: wrap;
        justify-content: space-around
    }

    section.info .info_main .info_main_item {
        width: 49%;
        margin-top: 25px;
    }

    .carousel-control-next {
        right: 40%;
    }

    .carousel-control-prev {
        left: 40%;
    }

    section.face header.header nav.navbar .langs {
        width: 50%;
    }

    .contacts_main {
        flex-wrap: wrap;

        .contacts_main_side {
            margin-top: 10px;
        }
    }

    
}

@media screen and (max-width:767px) {
    button.watchPres {
        left: 0;
    }
    .contacts_main {
        padding: 20px 40px!important;
    }
    .safe1 {
        left: 0;
    }
    section.contacts .contacts_main .contacts_main_side button.watchPres {
        z-index: 5;
    }
    section.face .wellcome .wellcome_top {
        flex-direction: column;
        align-items: center;
    }

    section.info .info_main .info_main_item {
        width: 100%;
    }

    section.news .news_main {
        flex-wrap: wrap;
    }

    section.news .news_main .news_main_item {
        width: 100%;
        margin-top: 15px;
    }

    section.news .news_main .news_main_item_img {
        width: 100%;
    }

    section.roadmap .btcCoinGolden {
        display: none;
    }

    section.face .wellcome .wellcome_bot .wellcome_bot_manText span {
        font-size: 50px;
    }

    .heading {
        font-size: 25px;
    }

    section.info {
        margin-top: 100px;
    }
}

@media screen and (max-width:450px) {
    #safe {
        width: 100%;
    }
    .contacts_main {
        padding: 20px 40px!important;
    }
    section.roadmap .roadmapMobile {
        display: block;
        .roadmap_main {
            width: 100%!important;
            flex-wrap: wrap;
            min-width: unset!important;
        }
    }

    .roadmap_wrapper {
        display: none;
    }
    section.roadmap .roadmapMobile .roadmap_main .roadmap_item .roadmap_item_icon_wrapper::before {
        display: none;
    }
}

@media screen and (max-width:429px) {
    section.face .wellcome .wellcome_bot .wellcome_bot_manText span {
        font-size: 30px;
    }

    section.development .development_bot {
        flex-wrap: wrap;
        justify-content: center;
    }

    section.development .development_bot .btcCoin {
        display: none;
    }

    footer .footer_bot {
        flex-direction: column;
    }

    

    section.info .info_main {
        padding: 25px ;
    }

    .carousel-control-next {
        right: 30%;
    }

    .carousel-control-prev {
        left: 30%;
    }

    .wellcome_top_img {
        width: 260px;
        height: 260px;
    }

    section.face header.header nav.navbar .langs {
        width: 50%;
    }
}