@mixin flexBetween() {
    display: flex;
    justify-content: space-between;
}

@mixin bgProps($url) {
    background-image: $url;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}